@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f6e7d8;
}

h1 {
    font-size: 5em;
}

.spacer {
    height: 88px;
}